@model IEnumerable<HollywoodTest.Shared.Models.Event>

@{
    ViewBag.Title = "Events/";
}

<h2>Events</h2>

<p>
    @if (User.IsInRole("SysAdmin"))
    {
        <a href="@Url.Action("Create", "Events")">
            <span data-toggle="tooltip" data-placement="top" title="Create New Tournament" class="glyphicon glyphicon-plus-sign create-new" aria-hidden="true"></span>
        </a>
    }
</p>
<table class="table">
    <tr>
        <th>
            Tournament Name
        </th>
        <th>
            Event Name
        </th>
        <th>
            Event Number
        </th>
        <th>
            Event DateTime
        </th>
        <th>
            Event End DateTime
        </th>
        <th>
            Auto Close
        </th>
        <th>Event Details</th>
        @if (User.IsInRole("SysAdmin"))
        {
            <th colspan="2">Actions</th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tournament.TournamentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventEndDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoClose)
            </td>
            <td>
                @Html.ActionLink("Event Details", "Index", "EventDetails", new { eventID = item.EventID }, htmlAttributes: null)
            </td>
            @if (User.IsInRole("SysAdmin"))
            {
                <td>
                    <a href="@Url.Action("Edit", "Events", new { id = item.EventID })">
                        <span data-toggle="tooltip" data-placement="top" title="Edit Tournament" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Delete", "Events", new { id = item.EventID })">
                        <span data-toggle="tooltip" data-placement="top" title="Delete Tournament" class="glyphicon glyphicon-trash red" aria-hidden="true"></span>
                    </a>
                </td>
            }
        </tr>
    }

</table>
